:root{
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

html,body{
  font-size: 1.2rem;
  overflow-x: hidden;

}

body .no-scroll{
  overflow: hidden;
  height: 100%;
}
/* Animasi Kata */

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.hidden-left {
  opacity: 0;
  transform: translateX(-100%); 
  transition: all 1s ease-out;
}

.hidden-right {
  opacity: 0;
  transform: translateX(100%); 
  transition: all 1s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0); 
}

/* Tambahkan di file style.css atau <style> */
.story .timeline li {
  opacity: 0;
  transform: translateY(50px); 
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.story .timeline li.show {
  opacity: 1;
  transform: translateY(0); 
}

/* Galerry */
.gallery .col {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.gallery .col.show {
  opacity: 1;
  transform: translateY(0); 
}


/* Akhir Animasi */

/* Youtube video */

.youtube-video {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.youtube-video h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.youtube-video p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.youtube-video iframe {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.video-container {
  position: relative; /* Container relatif untuk posisi absolut teks */
  width: 100%;
  height: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5);
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.video-text {
  position: absolute; /* Posisi absolut di dalam container */
  bottom: 20px; /* Jarak dari bawah */
  left: -75px; 
  color: var(--pink);
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 5rem;
  max-width: 400px;
  line-height: 1.5;
}

.video-text p {
  margin: 0;
  font-style: italic;
}

/* Akhir youtube video */

.hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/weding1.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(2px);
  display: block;
}

/* Preloader css */
#preloader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  text-align: center;



}
#preloader::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: block;
}
.preloader-content {
  text-align: center;
  color: white; /* Warna teks putih */
}

/* Akhir Preloader Css */
.hero{
  position: relative;
  height: 100vh;
  display: flex;
  width: 100%;
  background-size: cover;
  background-position: center;
  
}

.hero h1{
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  text-shadow: var(--shadow);
}

/* simply-countdown */

.simply-countdown{
  display: flex;
}

.simply-countdown div{
  flex-basis: 10px;
}

.simply-countdown div p{
  font-size: 2rem;
  font-weight: 600;
  color: var(--pink) !important;
  width : 65px;
  height: 75px;
  text-align: center;
  
}

.simply-countdown div span{
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(241, 78, 149, 0.8);
  color: #fff;
  text-align: center;
  margin-top: -50px
}


/* Akhir */




.hero p{
  font-size: 1.3rem;
}

.hero .btn{
  background-color: rgba(128, 128, 128, 0.4);
  color: #fff;
  box-shadow: var(--shadow);
}

.hero .btn:hover{
  background-color: var(--pink);

}

/* mynavbar */
.mynavbar .navbar-brand, .mynavbar .offcanvas-title{
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  text-shadow: var(--shadow);
  font-weight: bold;
  color: #f14e95;
}

.navbar-toggler{
  border: none;
}

.mynavbar .nav-link{
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.mynavbar{
  background-color: rgba(255, 255, 255, 0.5)!important;
  backdrop-filter: blur(4px);

}

.mynavbar .offcanvas{
 height: 100vh;


}

.sticky-top{
  overflow: hidden;
}
/* Akhir */

/* Home */

.home{
  min-height: 100vh;
  background-image: url(./img/weding2.png);
  background-size: cover;
  margin-top: -5rem;
  padding-top: 7.5rem;
  padding-bottom: 5rem;
  margin-bottom: 6rem;
}

.home h2{
  font-size: 4.5rem;
  color: var(--pink);
  font-weight: bold !important;
  font-family: 'Sacramento', cursive;
}

.home h3{
  font-size: 2rem;
  font-weight: bold;
  text-shadow: var(--shadow);
  font-style: italic;
}

.home p{
  font-size: 1rem;
  text-shadow: var(--shadow);
}

/* Home Couple */

.home .couple{
  margin-top: 50px;
}
.home .couple h3{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Sacramento', cursive;
  color: var(--pink);
  text-align: center;

}

.home .couple p{
  font-size: 1.2rem;
  font-weight: 400;
  text-shadow: var(--shadow);
  text-align: center;
}
.home .couple img{
  width: 100%;
}

.home .heart{
  width: 65px;
  height: 65px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: translateY(245%);
}

.home .heart i{
 color: var(--pink);
}

/* Akhir */

/* Wedding People */

.p1{
  background-image: url(./img/gallery2.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin-top: -5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  filter: opacity(0.8);
}

.p1 .pria{
  margin-top: 200px;
  color: white;
}

.p1 h3{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'boldonse', cursive;
  padding: 2rem;
  color: #FFF;
  font-style: italic;
}

.p1 a{
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: var(--shadow);
  color: black;
  background-color: rgba(128, 128, 128, 0.4);
  float: right;
  padding: 10px;
  margin-top: 3rem;

}

/* Garis Samping son-of */
.son-of {
  position: relative; 
  display: inline-block; 
  padding-left: 100px;
  font-family: 'Lora', serif;
  font-style: italic;
}

.son-of::before {
  content: ""; 
  position: absolute; 
  left: 0; 
  top: 50%; 
  transform: translateY(-50%);
  width: 80px; 
  height: 4px;
  background-color: #FFF; /
}


/* akhir weeding people */


/* info */

.info{
  background-color: white;
  background-size: cover;
  background-position: center;
  color: black;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.info h2{
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Sacramento', cursive;
  color: var(--pink);
  text-align: center;
  text-shadow: var(--shadow);
  margin-top: 30px;
}

.info p{
  font-size: 1rem;
  font-weight: 400;
  text-shadow: var(--shadow);
  color: black;
}

.info a{
  text-decoration: none;
  padding: 10px;
}

.info .btn{
 border: 1px solid black;
}

.info .btn:hover{
  background-color: var(--pink);
  color: white;
  box-shadow: var(--shadow);
}

.info .bi-geo-alt-fill{
  color: black;
}

/* info box weeding */

.info .card{
  background-color: var(--pink);
  border: 2px solid white;
  box-shadow: 1px 1px 10px var(--shadow);
  border-radius: 10px;
  overflow: hidden;
  color: white!important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.info .card-header{
  border-bottom: 2px solid white;

}

.info .card-footer{
  border-top: 2px solid white;
}

.info .card-footer p{
  color: white;
}

.info i{
  color: white;
}
/* Akhir */

/* Story */

.story{
  background-image: url(./img/weding4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.story h2, .gallery h2, .rsvp h2, .gift h2, .youtube-video h3{
  color: var(--pink);
  font-size: 3rem;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  text-shadow: var(--shadow);
  margin-top: 45px;
}

.story p, .gallery p, .rsvp p, .gift p, .youtube-video p{
  font-size: 0.8rem;
  text-shadow: var(--shadow);
}

/* Timeline */

.timeline{
  list-style: none;
  padding: 1.4rem;
  margin-top: 1rem;
  position: relative;
}

.timeline::before{
  content: '';
  top: 0;
  bottom: 0;
  position: absolute;
  width: 2px;
  background-color:var(--pink);
  left: 50%;
}

.timeline li{
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after{
  content: '';
  display: table;

}

.timeline li::after{
  clear: both;
}

.timeline li .timeline-img{
  width: 120px;
  height: 120px;
  background-color: var(--pink);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel{
  width: 100%;
  float: left;
  border: 1px solid var(--pink);
  position: relative;
  padding: 2rem;
  border-radius: 8px;
  background-color: #fff;

}

.timeline li .timeline-panel::before{
  content: '';
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid var(--pink);
  border-right: 0 solid var(--pink);
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;

}

.timeline li .timeline-panel::after{
  content: '';
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;

}

.timeline li.timeline-inverted .timeline-panel::before{
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after{
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

/* Akhir Story */

/* Gallery */
.gallery img{
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
/* Akhir Gallery */

/*  RSVP Kehadiran */
 .rsvp {
  margin-top: 3px;
  background-color: white;
  height: 600px;
 }

 .rsvp .form-label{
  color: black;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
 }

 .rsvp .btn{
  background-color: var(--pink);
  color: Black;
  border: 1px solid var(--pink);
  margin-top: 35px;
  font-style: italic;
 }

 .rsvp .btn:hover{
  background-color: white;
  color: var(--pink);
  border: 1px solid var(--pink);
  font-style: italic;
 }
/* Akhir RSVP */

/* Gifts */

.gift{
  background-image: url(./img/weding5.png);
  background-size: cover;
  background-position: center;
  height: 350px;
  text-align: center;

}

.gift .rekening{
  font-size: 1.5rem;
  font-weight: bold;
}

.gift .list-group-item{
  text-shadow: var(--shadow);
  font-weight: bold;
  font-style: italic;
}

.gift p{
  margin-top: 10px;
}

/* Akhir Gifts */

/* Footer */
footer{
  background-color: var(--pink);
  padding: 2.5rem;
  margin-top: 150px;
  color: white;


}
/* Akhir Footer */

/* audio */

.audio-icon-wrapper{
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  cursor: pointer;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotating {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/* akhir audio */



/* Media Queries */
/* Extra Large */

@media (max-width: 1200px) {
.home .heart{
  transform: translateY(275%);
  width: 50px;
  height: 50px;
}
}

/* Laptop and desktop */
@media (max-width: 992px) {
  html{
    font-size: 85%;
  }
  .home .heart{
    display: none;
  }

  .timeline li .timeline-panel{
    margin-right: -10px;
    margin-left: -10px;
  }

  .rsvp .btn{
    margin: 0;
  }

  .rsvp .form-label .komentar{
    margin-top: 25px;
    line-height: 20px;
   }

   .p1 .pria a{
    margin-top: 180px;
   }
   }


/* Tablet */
@media (max-width: 768px) {
html{
  font-size: 75%;
}
.hero h1{
  font-size: 3rem;
}

/* Penggantin pria */
.p1 .pria{
  margin-top: 350px;
  padding: 4px;

  }

  .p1 .pria h4{
    padding: 5px;
    margin-top: 10px;
  }

  .p1 .pria .son-of{
    margin-right: 30px;
  }

  .p1 .pria a{
    margin-top: 250px;
  }
/* Akhir */
.mynavbar .nav-link{
  font-size: 1.7rem;
  text-align: center;
}

.timeline::before{
  left: 20px;

}

.timeline li .timeline-img{
   left: 15px;
   margin-left: 20px;
   top: 16px;
   width: 60px!important;
   height: 60px!important;

}

.timeline li .timeline-panel{
  width: 80%;
  padding-right: 10px;
  float: right;
}

.timeline li .timeline-panel::before{
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li .timeline-panel::after{
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

/* Youtube */
.youtube-video iframe {
  height: 250px;
}
.video-text {
  font-size: 0.9rem;
  bottom: 10px;
  left: 10px;
  padding: 10px 15px;
  max-width: 80%; /* Lebar maksimal teks di mobile */
}

.video-text p{
  font-size: 1rem;
  margin-top: -190px;
  margin-left: -30px;
  text-align: center;

 }



/* Footer */
footer{
  margin-top: 10px;
}



}


/* Mobile */
@media (max-width: 350px) {
  html{
    font-size: 70%;
  }

  #preloader{
   
  }

  /* Home */
  .home{
    margin-top: 70px;
  }

  /* Penggantin pria */
  
/* Penggantin wanita */

/* Hero */
  .hero h1{
    font-size: 2rem;
  }
  .mynavbar .nav-link{
    font-size: 1.5rem;
    text-align: center;
  }

  .timeline::before{
    left: 5px;

  }

  .timeline li .timeline-img{
     top: 1rem;
     width: 30px;
     height: 30px;
     margin-right: 10px;

  }

  .timeline-body p{
    font-size: 0.8rem;
  }
  .timeline li .timeline-panel{
    width: 80%;
    text-align: center;
    padding: 0.5rem;
  }

  .timeline li .timeline-panel::before{
    border-left-width: 0;
    border-right-width: 15px;
    left: 15px;
    right: auto;
  }

  .timeline li .timeline-panel::after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }

  /* story */
  


  /* youtube */

 .video-text p{
  font-size: 1rem;
  margin-top: -185px;
  margin-left: -25px;
  text-align: center;

 }

 .rsvp .komentar .form-label{
  padding-top: -20px;
  margin-top: -40px;

 }


  
  /* Footer */




}


